<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>travel</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>servlets.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/servlets/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RegServlet</servlet-name>
    <servlet-class>servlets.RegServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegServlet</servlet-name>
    <url-pattern>/servlets/RegServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowServlet</servlet-name>
    <servlet-class>servlets.ShowServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowServlet</servlet-name>
    <url-pattern>/servlets/ShowServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChatServlet</servlet-name>
    <servlet-class>servlets.ChatServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChatServlet</servlet-name>
    <url-pattern>/servlets/ChatServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OutServlet</servlet-name>
    <servlet-class>servlets.OutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OutServlet</servlet-name>
    <url-pattern>/servlets/OutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeInformationServlet</servlet-name>
    <servlet-class>servlets.ChangeInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeInformationServlet</servlet-name>
    <url-pattern>/servlets/ChangeInformationServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <servlet-class>servlets.ChangePasswordServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePasswordServlet</servlet-name>
    <url-pattern>/servlets/ChangePasswordServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangeMailServlet</servlet-name>
    <servlet-class>servlets.ChangeMailServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangeMailServlet</servlet-name>
    <url-pattern>/servlets/ChangeMailServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ChangePhoneServlet</servlet-name>
    <servlet-class>servlets.ChangePhoneServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ChangePhoneServlet</servlet-name>
    <url-pattern>/servlets/ChangePhoneServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>IndexServlet</servlet-name>
    <servlet-class>servlets.IndexServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>IndexServlet</servlet-name>
    <url-pattern>/servlets/IndexServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CheckServlet</servlet-name>
    <servlet-class>servlets.CheckServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CheckServlet</servlet-name>
    <url-pattern>/servlets/CheckServlet</url-pattern>
  </servlet-mapping>
</web-app>